<div class="col-lg-4 col-sm-12 col-md-4 mb-3 d-flex flex-row align-items-stretch">
  <div class="card">
    <div class="card-body d-flex text-center flex-column">
      <h5 class="card-title text-center"><%= blog.title %></h5>
        <%= sanitize_action_text_content(blog.content.body) %>
      <% if !blog.content.embeds.empty? %>
        <%= image_tag blog.content.embeds.find{|embeds| embeds.image?} %>
      <% end %>
      <% user = User.find(blog.user_id) %>
      <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(blog.created_at) %> ago</small></p>
      <p class="card-text"><small class="text-muted">Author: <%= user.first_name %></small></p>
      <p class="card-text"><small class="text-muted"><%= blog.comments.count %> <%= blog.comments.count > 1 || blog.comments.count <= 0 ? " comments" : " comment" %></small></p>
      <%= link_to "Show Blog", blog, class: "btn btn-primary mt-auto align-self-center" %>
    </div>
  </div>
</div>
