<div class="col-lg-4 col-sm-12 col-md-4 mb-3 d-flex flex-row align-items-stretch">
  <div class="card">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-center"><%= blog.title %></h5>
      <p class="card-text mb-4 text-center"><%= blog.content %></p>
      <%= image_tag blog.image if blog.image.attached? %>
      <% user = User.find(blog.user_id) %>
      <p class="card-text"><small class="text-muted">Posted by: <%= user.first_name %></small></p>
      <p class="card-text"><small class="text-muted"><%= time_ago_in_words(blog.created_at) %> ago</small></p>
      <%= link_to "Show Blog", blog, class: "btn btn-primary mt-auto align-self-start" %>
    </div>
  </div>
</div>
