<%= form_with(model: [:blog, @comment]) do |form| %>
  <% if @comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container w-50 d-flex justify-content-center align-items-center flex-column">
    <div>
      <%= form.label :body, class: "mb-1 text-center d-block" %>
      <%= form.text_field :body %>
    </div>
    <div class="mt-2">
      <%= form.submit class: "btn btn-primary", name: button_tag %>
    </div>
  </div>
<% end %>
