<!-- <nav data-controller="active" class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <%= link_to "Oakes K9 Training", root_url, class: "navbar-brand pe-5", id: "brand-text" %>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
             data-bs-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              style="background-color: white;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-text">
          <%= link_to "Home", root_url, class: "nav-link-custom active-custom" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", blogs_url, class: "nav-link-custom" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_url, class: "nav-link-custom" %>
        </li>
      </ul>
      <ul class="d-flex navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link-custom", data: {turbo_method: :delete}, method: :delete %>
          </li>
          <li class="nav-item m-auto">
            Welcome <%= current_user.first_name %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link-custom" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav> -->
<div class="navbar bg-[#ed1a47]">
  <div class="flex-1">
    <%= link_to "Oakes", root_path, class: "btn text-white btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Contact", contact_path, class: "text-white" %></li>
      <li>
        <details>
          <summary class="text-white">
            Parent
          </summary>
          <ul class="p-2 bg-base-100">
            <% if user_signed_in? %>
              <li><%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li> 
            <% end %>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>